= render 'cover'
= render 'index'
= render 'infrastructure'

= render 'continuous_integration'
= render 'environments'
= render 'deployment_automation'
= render 'system_integration'
= render 'paas'
= render 'scale'
