= render 'cover'
= render 'index'
= render 'infrastructure'

= render 'continuous_integration'
= render 'environments'
= render 'describe'
= render 'subject'
= render 'before'
= render 'let'

/ = render 'shared_examples'